*{
    margin: 0;
    padding: 0;
}
/* navbar top*/
.bg-black{
    background: black;
}

.header h1{
    text-align: center;
    align-items: center;
    font-family: "Playfair Display", serif;;
    text-transform: uppercase;
    opacity: .79;
    margin-top: 10px;
    
}
.header p{
    text-align: center;
    align-items: center;
    font-family: "Playfair Display", serif;;
    text-transform: uppercase;
    opacity: .89;
    line-height: 1px;
    letter-spacing: 3px;
    font-size: 13px;
}
#top-nav{
    display: flex;
    justify-content:space-around;
    margin-top: 90px;
    max-width: 100%;
}

@media (max-width: 520.98px){
    h1{
        font-size: 2em;
      
    }
    p{
        font-size: 2em; 
        min-width: 40rem;
       
    }
}


.paragraph{
    font-size: 20px;
    font-family: "Playfair Display", serif;;
    opacity: -89px;
    text-align: center;
    margin-top: 200px;
    color: white;
    max-width: 80rem;
  
    
}
@media screen and(max-width: 575.98px){
    .paragraph {
       
        font-size: 2px;
        margin-top: 0;
        
        
    }
}

.img-fluid{
    width: 100%;
    height: auto;
}

.bean-image{
    background-image: url(Capture.JPG);
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;
    height: 100vh;
    max-height: 500px;
    
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;
  }
.flex-item-1 {
    flex: 25%;
}
@media (max-width: 800px) {
    .flex-item-1 {
      flex: 10%;
    }
}
.flex-container2{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
.flex-item-{
    flex-wrap: wrap;
    align-items: center;
}
.flex-item- a{
    text-decoration: none;
    color: white;
}
.flex-item- a:hover{
    color: red;
}

